@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@400;900&display=swap');

*{

    margin: 0;
    padding: 0;
}

body, footer{
    font-family: 'Lato', sans-serif;
    background-color:#F2F2F2 ;
    max-height: 100vw;
    
}


h1{
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.747);
    padding:45vw;
    font-size: 3vw;
    text-align: center;
    font-size: 2em;
    
   
}
h1.header{
    background-image: url(imagens/01.jpg);
    background-position: center ;
    background-size: cover;
    background-attachment: fixed;
}

h1.body1{
    background-image: url(imagens/03.jpg);
    background-position: center ; 
    background-size: cover;
    background-attachment: fixed;  
}
h1.body2{
    background-image: url(imagens/02.jpg);
    background-position: center ;
    background-size: cover;
    background-attachment: fixed;  
}

p{
    padding: 42px;
    line-height: 1.2em;
    text-align: center;
    font-size: 1.5em;


}
p.claro{

    background-color:#F2F2F2 ;
    color:#222126 ;
}
p.escuro{
    background-color:#222126 ;
    color: #F2F2F2;
}

footer{
    background-image: url(imagens/04.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;


    padding: 40vw; 
    text-align: center;
    color: white;
    font-weight:bolder; 

    
}
footer>a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    
    
}
footer>a:hover{
    text-decoration: underline;
    color: #222126;
}